//<BUTTONS (a.btn+tab)>
// Снипет (HTML): btn

.button {
	padding: 8px 32px;
	@extend %fcu;
	font-weight: 700;
	line-height: 175%;
	background-color: $mainYellow;
	color:$maincolorDark;
	transition: background-color 0.3s ease 0s;
	@media (any-hover: hover) {
		&:hover {
			background-color:$mainLiteYellow;
		}
	}
	&._fw {
		width: 100%;
	}
}
