.mainpage {
	&__slider {
	}
}
.main-slider {
	@include adaptiveValue("padding-top", 70, 10);
	@include adaptiveValue("padding-bottom", 70, 20);
	background-color: #0c0b08;
	display: flex;
	&__container {
		&_wide {
			position: relative;
			flex: 1 1 auto;
			min-width: 0;
		}
	}

	&__menu {
	}

	&__scroll {
		position: absolute;
		bottom: 0;
		right: rem(15);
		@media (max-width: em(1445)) {
			right: 47%;

			@include adaptiveValue("bottom", -30, -30);
		}
		@media (max-width: $tablet) {
			display: none;
		}
	}
}
.body-main-slider {
	height: 100%;

	display: flex;
	flex-direction: column;

	&__slider {
	}

	&__swiper {
		flex: 1 1 auto;

		@include adaptiveValue("padding-top", 35, 5);
		padding-bottom: 20px;
	}

	&__slide {
		height: 100%;
	}

	&__controll {
		display: flex;
		gap: rem(8);
		justify-content: center;
		align-items: center;
		font-weight: 600;
		font-size: rem(22);
		color: #fff;
		line-height: 175%;
		letter-spacing: 0.04em;
		@extend %fcu;
		@include adaptiveValue("padding-top", 64, 4);
		transition: gap 0.3s ease 0s;
		.swiper-pagination-bullet-active {
			display: flex;
			align-items: center;
			column-gap: 8px;

			&::after {
				content: "";
				background-color: #dcca87;
				width: 16px;
				flex: 0 0 16px;
				height: 1px;
				transition: all 0.3s ease 0s;
			}
		}
	}
}
.slide-main-slider {
	display: grid;
	gap: 30px;
	padding-right: 25px;
	opacity: 0 !important;
	@media (max-width: em(1445)) {
		padding: 50px 0px;
	}
	@media (max-width: $tablet) {
		padding: 0px 0px;
	}
	@media (min-width: $tablet) {
		grid-template-columns: repeat(2, 1fr);
		gap: 0px;
	}
	&__content {
		align-self: center;
		display: grid;
		@include adaptiveValue("gap", 32, 20);
		justify-items: start;
		@media (min-width: $tablet) {
			max-width: rem(500);
			padding-right: 40px;
		}
	}
	&.swiper-slide-active {
		pointer-events: auto;
		opacity: 1 !important;
	}
	&__header {
	}

	&__text {
		line-height: 175%;
		letter-spacing: 0.04em;
	}

	&__button {
	}

	&__image-ibg {
		padding-bottom: percent(736, 667);
		position: relative;
		@media (min-width: $tablet) {
			max-height: 736px;
			height: 100%;
		}

		&::before,
		&::after {
			content: "";
			position: absolute;
			transition: all 0.3s ease 0s;
			background-color: $mainYellow;
			width: percent(435, 620);
			height: percent(435, 688);
		}

		&::before {
			content: "";
			top: 0;
			right: 0px;
			transform: translate(25px, -25px);
		}
		&::after {
			content: "";
			bottom: 0;
			left: 0;
			transform: translate(-25px, 25px);
		}
		img {
			transition: all 0.3s ease 0s;
			z-index: 2;
		}
		@media (any-hover: hover) {
			&:hover {
				&::before {
					transform: translate(30px, -30px);
				}
				&::after {
					transform: translate(-30px, 30px);
				}
				img {
					transform: scale(1.02);
				}
			}
		}
	}
}

.menu-main-slider {
	position: absolute;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	height: 100%;
	gap: rem(40);
	top: 0;
	left: rem(15);
	@media (min-width: em(1445)) {
	}
	&__link {
		writing-mode: vertical-lr;
		transform: rotate(-180deg);
		font-size: rem(18);
		line-height: 175%;
		letter-spacing: 0.04em;
		color: #ffffff;
		@media (max-width: em(1445)) {
			display: none;
		}

		@media (any-hover: hover) {
			&:hover {
				color: $mainYellow;
			}
		}
	}
	&__active {
		color: $mainYellow;
	}
}

.mainpage {
	&__about {
	}
}
.about-section {
	position: relative;
	@include adaptiveValue("padding-top", 126, 20);
	@include adaptiveValue("padding-bottom", 126, 20);
	@media (min-width:$mobile){
		&::before {
			position: absolute;
			content: "G";
			font-family: CormorantUpright;
			font-size: rem(600);
			color: #272727;
			top: 20%;
			left: 40%;
			
		}
	}
	&__container {
		@media (min-width: $mobile) {
			justify-content: center;
			align-items: center;
			display: flex;
			gap: 74px;
		}
	}

	&__content {
		
		@media (max-width:$mobile){
			align-content: center;
			justify-items: center;
			text-align: center;
			display: grid;
			 &:not(:last-child) {margin-bottom:30px;} 
			 
		}
		@media (min-width:$mobile){
			position: relative;
			display: grid;
			gap: 32px;
			align-content: start;
			justify-items: start;
			&:first-child {
				justify-items: end;
				text-align: right;
				.about-section__title {
					justify-items: end;
					&::after {
						transform: rotate(-180deg);
					}
				}
			} 
		}
	}

	&__title {
		font-weight: 600;
		@include adaptiveValue("font-size", 64, 30);
		line-height: 130%;
		letter-spacing: 0.04em;
		text-transform: capitalize;
		color: $mainYellow;
		@extend %fcu;
		@media (max-width:$mobile){
			 text-align: center; 
			 margin-bottom: 30px;
		}

		display: grid;
		gap: 8px;
		&::after {
			@extend %ic;
			content: "\e905";
			color: $mainYellow;
			font-size: em(9, 64);
		}
	}

	&__text {
		max-width: 523px;
		min-height: 80px;
		&:not(:last-child) {
			margin-bottom: em(32, 16);
		}
	}

	&__button {
		
	}

	&__severnake {
		position: relative;
		display: none;
		@media (min-width:$mobile){
			 display:block; 
		}
	}
}
.button {
}
